<?xml version="1.0"?>
<launch>
  <param name="robot_description"
    command="$(find xacro)/xacro --inorder '$(find robot_diff_description)/urdf/robot_diff.urdf'" />

  <!-- <node pkg="tf" type="static_transform_publisher" name="static_transform_publisher" args="0 0 0 0 0 0 1 map Sensor 100" /> -->

  <!-- send fake joint values -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="FALSE"/>
  </node>

  <!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- Show in Rviz   -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot_diff_description)/launch/robot_diff.rviz"/>

</launch>